src/beta-binomial-lda/*.pkl.pkl
*.pkl
**/*.pkl
*.h5
*.h5.*
**/*.h5
*.png
*.csv 
*.bed 
src/beta-binomial-lda/*.png 
src/beta-binomial-lda/*.out 
src/beta-binomial-lda/*.npz 
src/visualization/gencode_mm10.db
src/visualization/human_v47_gencode_annotation
src/visualization/human_v47_gencode_basic
src/visualization/human_v47_comp_anno
src/clustering/gencodeVM19
gencodeVM19